:root {
  --bg-color: #ffffff;
  --text-color: #213547;
  --primary: #646cff;
  --hover-primary: #535bf2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.nav-link.text-dark:hover {
  background-color: #f8f9fa;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-primary);
}

.nav-link {
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding-left: 8px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --primary: #8fa0ff;
    --hover-primary: #aab0ff;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  a {
    color: var(--primary);
  }

  a:hover {
    color: var(--hover-primary);
  }

  button {
    background-color: #1a1a1a;
  }
}
